doctype html
html
   head
      title Asem The Number Quiz
   body
      div
         h1 The Number Quiz
         p="Your current score is "+score+"."
         p Guess the next number of the sequence.
         p=question
         form(action = "/forth", method = "POST")
            div
               span Your answer:
               input(name = "answer" id = "answer" type="number" required="required")
               br 
               button(type = "submit") Submit
