doctype html
html
   head
      title The Number Quiz


   body
      div
         h1 The Number Quiz
         p Your current score is #{score}.
         p You have completed The Number Quize, with a score of #{score} out of 5.
         form(action="/")
            button again
